In [1]:
import sauna

/home/exemplar/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
scale_sensitivities = sauna.Sensitivities()
scale_sensitivities.group_structure = sauna.GROUP_STRUCTURES['SCALE-56']
scale_sensitivities.from_scale('../../models/MET1000_FC_NFP.2025.02.28T10.09.44.sdf', 'B', 'Eigenvalue')

Number of profiles: 3832
Number of groups: 56
Program: kenovi
The data have been imported successfully.

In [9]:
serp_sensitivities = sauna.Sensitivities()
serp_sensitivities.group_structure = sauna.GROUP_STRUCTURES['SCALE-56']
serp_sensitivities.from_serpent('../../models/MET1000_FC_56_sens0.m')

INFO:  Reading ../../models/MET1000_FC_56_sens0.m
INFO:    - done

The Serpent sensitivity file contains the following functionals: ['keff', 'beff', 'beffGroup1', 'beffGroup2', 'beffGroup3', 'beffGroup4', 'beffGroup5', 'beffGroup6', 'beffGroup7', 'beffGroup8', 'leff', 'lambda', 'lambdaGroup1', 'lambdaGroup2', 'lambdaGroup3', 'lambdaGroup4', 'lambdaGroup5', 'lambdaGroup6', 'lambdaGroup7', 'lambdaGroup8']

In [10]:
covariances = sauna.Covariances()
covariances.library = 'ENDF-B-VII.1'
covariances.group_structure = sauna.GROUP_STRUCTURES['SCALE-56']
covariances.from_excels(f'../../covariances/{covariances.library}-56/')

Importing covariance data from Excels.
The covariances have been imported successfully.

In [11]:
serp_dfs  = sauna.Analysis.get_breakdown(serp_sensitivities, covariances)

In [12]:
scale_dfs  = sauna.Analysis.get_breakdown(scale_sensitivities, covariances)

In [14]:
detailed_dfs = sauna.Analysis.get_detailed(scale_sensitivities, covariances)

In [15]:
serp_dfs['Eigenvalue']

,Nuclide 1,Reaction 1,Nuclide 2,Reaction 2,Uncertainty [%],Statistical Uncertainty [%]
0,total,total,total,total,1.09708e+00,1.15417e-03
1,922380,MT4,922380,MT4,9.02002e-01,1.01684e-03
2,922380,MT2,922380,MT4,2.14235e-01,3.89177e-03
3,942390,MT18,942390,MT18,1.99747e-01,2.13829e-05
4,260560,MT4,260560,MT4,1.97138e-01,5.13562e-04
...,...,...,...,...,...,...
343,280600,MT104,280600,MT104,0.00000e+00,0.00000e+00
344,50110,MT103,50110,MT103,0.00000e+00,0.00000e+00
345,60000,MT4,60000,MT104,0.00000e+00,0.00000e+00
346,60000,MT4,60000,MT103,0.00000e+00,0.00000e+00
347,280580,MT16,280580,MT16,0.00000e+00,0.00000e+00

In [16]:
scale_dfs['Eigenvalue']

,Nuclide 1,Reaction 1,Nuclide 2,Reaction 2,Uncertainty [%],Statistical Uncertainty [%]
0,total,total,total,total,1.12924e+00,5.19017e-04
1,922380,MT4,922380,MT4,9.31996e-01,4.38363e-04
2,922380,MT2,922380,MT4,2.06431e-01,1.90172e-03
3,260560,MT4,260560,MT4,2.02714e-01,2.10148e-04
4,942390,MT18,942390,MT18,2.01449e-01,1.29776e-05
...,...,...,...,...,...,...
343,962460,MT251,962460,MT251,0.00000e+00,0.00000e+00
344,260560,MT251,260560,MT251,0.00000e+00,0.00000e+00
345,962430,MT251,962430,MT251,0.00000e+00,0.00000e+00
346,962450,MT251,962450,MT251,0.00000e+00,0.00000e+00
347,942360,MT251,942360,MT251,0.00000e+00,0.00000e+00

In [17]:
detailed_dfs['Eigenvalue']

,Nuclide 1,Reaction 1,Group 1,Nuclide 2,Reaction 2,Group 2,Uncertainty [%],Statistical Uncertainty [%]
0,total,total,total,total,total,total,1.12924e+00,4.62390e-04
1,922380,MT4,4,922380,MT4,4,3.15465e-01,5.11823e-04
2,922380,MT4,5,922380,MT4,4,2.21655e-01,3.30520e-04
3,922380,MT4,4,922380,MT4,5,2.21655e-01,3.30520e-04
4,922380,MT4,4,922380,MT4,6,2.20103e-01,3.90765e-04
...,...,...,...,...,...,...,...,...
1088188,260570,MT4,33,260570,MT102,9,-0.00000e+00,0.00000e+00
1088189,260570,MT4,33,260570,MT102,8,-0.00000e+00,0.00000e+00
1088190,260570,MT4,33,260570,MT102,7,-0.00000e+00,0.00000e+00
1088191,260570,MT4,33,260570,MT102,6,-0.00000e+00,0.00000e+00
1088192,420920,MT2,28,420920,MT2,56,0.00000e+00,0.00000e+00